h1 {
  font-size: 100px;
  color: khaki;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  text-align: center;
}
#brushes {
  background-color: mediumspringgreen;
}
#frames {
  background-color: lightcoral;
}
#paint {
  background-color: skyblue;
}
.tool h2{
  color: white;
  font-size: 32px;
}
h1, h2, h3, p {
  font-family:Helvetica;
}
strong {
  color: blue;
  font-weight: bold;
}
